@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-30 13:34:00
 * @version $Id$
 */
 .background {
 	box-sizing: border-box;
 	position: absolute;
 	left:37.5%;
 	top: 50px;
 	width: 300px;
 	height: 500px;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }
 .box {
 	box-sizing: border-box;
 	width: 295px;
 	height: 490px;
 }
 .box1 {
 	box-sizing: border-box;
 	position: relative;
 	width: 295px;
 	height: 30px;
 	font-size: 12px;
 }
 .box2 {
 	box-sizing: border-box;
 	position: relative;
 	width: 100%;
 	height: 75px;
 	border-right: 1px solid #eeeeee;
 	border-left: 1px solid #eeeeee;
 }
 .box3 {
 	box-sizing: border-box;
 	position: relative;
 	left: 0;
 	width: 100%;
 	height: 123px;
 	border: 1px solid #eeeeee;
 }
 .box4 {
 	box-sizing: border-box;
 	position: relative;
 	left: 0;
 	width: 100%;
 	height: 47px;
 	border-right: 1px solid #eeeeee;
 	border-left: 1px solid #eeeeee;
 }
 .box5 {
 	box-sizing: border-box;
 	width: 296px;
 	height: 225px;
 	border-top: 1px solid #eeeeee;
 }
 
 .box1-1 {
 	box-sizing: border-box;
 	float: left;
 	width: 20%;
 	height: 100%;
 	border-right: 1px solid #eeeeee;
 	border-top: 1px solid #eeeeee;
 	border-bottom: 1px solid #eeeeee;
 	background-color: #f7f7f7;
 	display: -webkit-box;
 	-webkit-box-pack: center;
 	-webkit-box-align: center;
 }

 .box1-2 {
 	box-sizing: border-box;
 	float: left;
 	width: 20%;
 	height: 100%;
 	border-left: 1px solid #eeeeee;
 	border-top: 1px solid #eeeeee;
 	border-right: 1px solid #eeeeee;
 	display: -webkit-box;
 	-webkit-box-pack: center;
 	-webkit-box-align: center;
 }
 .box2-1 {
 	position: relative;
 	top:10px;
 	left:5px;
 	width:260px;
 	height: 20px;
 	margin: 6px;
 	border:1px solid #6f6f6f;
 }

 .box3-1 {
 	box-sizing: border-box;
 	float: left;
 	width: 65px;
 	height: 65px;
 	border: 1px solid #eeeeee;
 	margin-left: 13px;
 	margin-top: 9px;
 }
 .image {
 	width: 65px;
 	height: 65px;
 }
 .box3-2 {
 	box-sizing: border-box;
 	float: left;
 	position: relative;
 	top:13px;
 	width: 190px;
 	height: 20px;
 	margin-top: 7px;
 	margin-left:7px;
 	border:1px solid #6f6f6f;
 }
 .clear {
 	clear: both;
 }
 .box3-3 {
 	box-sizing: border-box;
 	float: left;
 	position: relative;
 	left:14px;
 	width: 85px;
 	height: 25px;
 	border: 1px solid #eeeeee;
 	margin-top: 10px;
 	margin-left: 3px;
 	background-color: #ff4400;
 	font-size: 12px;
 	display: -webkit-box;
 	-webkit-box-pack: center;
 	-webkit-box-align: center;
 }
 .box4-1 {
 	box-sizing: border-box;
 	float: left;
 	position: relative;
 	top:14px;
 	left:10px;
 	width:260px;
 	height: 20px;
 	border:1px solid #6f6f6f;
 }
 .box5-1 {
 	box-sizing: border-box;
 	float: left;
 	width: 118px;
 	height: 149px;
 	border-bottom: 1px solid #eeeeee;
 	border-left: 1px solid #eeeeee;
 }
 .box5-2 {
 	box-sizing: border-box;
 	float: left;
 	width: 59px;
 	height: 74.5px;
 	border-left: 1px solid #eeeeee;
 	border-bottom: 1px solid #eeeeee;
 }
 .box5-3 {
 	box-sizing: border-box;
 	float: left;
 	width: 59px;
 	height: 74.9px;
 	border-left: 1px solid #eeeeee;
 	border-bottom: 1px solid #eeeeee;
 	border-right: 1px solid #eeeeee;
 }
 .img1 {
 	height: 65px;
 	width:45px;
 	position: relative;
 	top: 30px;
 	left:35px;
 }
 .img2 {
 	height: 35px;
 	width:35px;
 	position: relative;
 	top:10px;
 	left:11px;
 }
 span {
 	font-size: 12px;
 }
 span1 {
 	font-size: 12px;
 	color: #fff;
 }
 .ui-box5-big {
 	text-align: center;
 	position: relative;
 	top:35px;
 	font-size:12px;
 	width:50;
 	height:15px;
 }
 .ui-box5-small {
 	text-align: center;
 	position: relative;
 	top:11px;
 	font-size:12px;
 	width:50;
 	height:15px;
 }